{% extends 'base.html' %}
{% load static %}

{% block about %}
<div class="promo-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-60">
                        <div class="margin-b-30">
                            <h1 class="promo-block-title">Сервисный <br> Центр</h1>
                            <p class="promo-block-text">IT-сектор</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>

<div id="about">
            <div class="container content-lg">
                <div class="row">
                    <div class="col-sm-5 sm-margin-b-60">
                        <img class="full-width img-responsive" src="{% static 'img/img_1.png' %}" width="400" height="250" alt="Image">
                    </div>
                    <div class="col-sm-7">
                        <div class="section-seperator margin-b-50">
                            <div class="margin-b-50">
                                <div class="margin-b-30">
                                    <h2>Услуги</h2>
                                    <p>Наличие собственного сертифицированного сервисного центра позволяет нам решать широкий круг задач.

В основной список наших услуг входит:

Ремонт и техническое обслуживание компьютеров, ноутбуков, мониторов, периферии, копировально-множительного оборудования

Восстановление аккумуляторных батарей к ноутбукам и КПК

Восстановление утерянной информации на жестком диске

Профессиональная заправка и восстановление картриджей

Проектирование, ремонт и техническое обслуживание локальных вычислительных сетей, миниАТС

Установка, настройка и обслуживание лицензионного программного обеспечения

Антивирусная диагностика, восстановление работоспособности оборудования

Производство работ по монтажу, наладке и техническому обслуживанию средств и систем охраны

При необходимости, возможно предоставление подменного фонда для наших клиентов.

В зависимости от сложности и условий, работы могут выполняться как на выезде, так и в сервисном центре.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>

{% endblock %}