{% extends 'base.html' %}
{% load static %}
{% block index %}

<body>
<link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <div class="container">
    <div class="section-title text-center center">
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"><img src="{% static 'img/IMG_6630.jpg' %}" class="img-responsive" alt="website template image"></div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
			<h2 class="main-title fw-bold">Услуги УП "Онлайн"</h2>
    <hr style="border-style: dashed;">

          <p>УП «Онлайн» предлагает комплексные решения на основе широкого спектра IT-услуг, реализуемые высококвалифицированными специалистами:
<p>•
Cертифицированный сервисный центр, выполняющий ремонт оборудования любой сложности
<p>•
Проектирование, монтаж и обслуживание локальный сетей, мини АТС
<p>•
Официальный партнер подавляющего большинства производителей IT-оборудования на рынке РБ
<p>•
Монтаж, наладка и техническое обслуживание средств и систем охраны (видеонаблюдение, сигнализация)
<p>•
Комплексные решения безопасности Вашей информации с помощью лицензионного антивирусного обеспечения
<p>•
Розничная и оптовая торговля широким ассортиментом IT-оборудования. Консультация и оперативная доставка.
</p>
          <a href="/about" class="btn btn-default btn-lg page-scroll">Узнать больше</a></div>
      </div>
    </div>
  </div>

    <main>
        <section class="content">
        </section>

        <section class="form-section">
    <h2>Оставьте заявку</h2>
    <form method="post" action= "my_view/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="fullname"><i class="fas fa-user"></i> ФИО:</label>
            <input type="text" id="fullname" name="fullname" required>
        </div>

        <div class="form-group">
            <label for="phone"><i class="fas fa-phone"></i> Номер телефона:</label>
            <input type="text" id="phone" name="phone" required>
        </div>

        <div class="form-group">
            <label for="description"><i class="fas fa-comment"></i> Краткое описание:</label>
            <textarea id="description" name="description" rows="5" required></textarea>
        </div>

        <button type="submit">Отправить</button>
    </form>
</section>
    </main>

    <footer>
        <p>© 2023 УП "Онлайн". Все права защищены.</p>
    </footer>
</body>
</html>
{% endblock %}
