{% extends 'base.html' %}
{% load static %}

{% block map %}

<div id="about">
            <div class="container content-lg">
                <div class="row">
                    <div class="col-sm-5 sm-margin-b-60">
                       <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab0ff3a9737a32ab129fab7f94feadfa7b29a3d05a658d83c43b56be23758da8b&amp;width=400&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script> </div>
                    <div class="col-sm-7">
                        <div class="section-seperator margin-b-50">
                            <div class="margin-b-50">
                                <div class="margin-b-30">
                                    <h2>Где мы находимся?</h2>
                                    <p>
Адрес: г. Лида

Суворова 14 (отдел продаж, сервис),
Суворова 7а (магазин, склад)
Телефоны:

+375 (154) 61-80-80 (отдел продаж)
+375 (29) 113-33-63
+375 (154) 61-81-81 (сервис)
+375 (44) 773-33-63
+375 (33) 623-33-63
+375 (154) 61-82-82 (склад-магазин)
+375 (29) 113-33-63
+375 (154) 61-80-80 (сектор IT)
+375 (44) 761 58 32
Режим работы:

Пн-Пт: 8:00 – 18:00 (склад-магазин, сервис)
Пн-Пт: 8:00 – 18:00 (отдел продаж)
Сб, Вс: выходной день
24/7 для абонентов (cектор IT)
Электронная почта:

sales@online-it.by  (отдел продаж)
service@online-it.by  (сервис)
stock@online-it.by (склад-магазин)
admin@online-it.by (cектор IT)
Skype:

Online.sales  (отдел продаж)
online-itby  (склад-магазин)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>

{% endblock %}