{% extends 'base.html' %}
{% load static %}

{% block taxfree %}

<div class="promo-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 sm-margin-b-60">
                        <div class="margin-b-30">
                            <h1 class="promo-block-title">TAX FREE</h1>
                            <p class="promo-block-text"></p>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>

<div id="about">
            <div class="container content-lg">
                <div class="row">
                    <div class="col-sm-5 sm-margin-b-60">
                        <img class="full-width img-responsive" src="{% static 'img/TaxFree_лого-1024x994.png' %}" width="300" height="290" alt="Image">
                    </div>
                    <div class="col-sm-7">
                        <div class="section-seperator margin-b-50">
                            <div class="margin-b-50">
                                <div class="margin-b-30">
                                    <h2>Что такое Tax Free?</h2>
                                    <p>
Tax Free  — это система возврата НДС иностранным лицам (нерезидентам ЕАЭС).
Пользуясь услугой Tax Free Вы можете вернуть 15% от суммы товара без НДС, если Ваши покупки превышает 80 BYN, сделаны в одном магазине в течение одного дня.

Кто может воспользоваться услугой Tax Free?
Услугой Tax Free  может воспользоваться иностранный гражданин (нерезидент ЕАЭС). Если вы проживаете на территории ЕАЭС, то воспользоваться услугой Tax Free Вы не сможете.
На сегодняшний день в  ЕАЭС входят следующие страны: Беларусь, Россия, Казахстан, Армения, Киргизия.   </div>
                                <a href="https://www.tax-free.by/tax-free-shopping/"><h5>Узнать больше о TAX FREE</h5></a>
                            </div>
                        </div>

                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>

{% endblock %}